html {
  /* background: linear-gradient(to right, #2bc0e4, #eaecc6); */
}
form {
  padding: 10px;
}
.input-box {
  position: relative;
  margin: 10px 0;
}
.input-box > input {
  background: transparent;
  border: none;
  border-bottom: solid 1px #ccc;
  padding: 20px 0px 5px 0px;
  font-size: 14pt;
  width: 100%;
}
input::placeholder {
  color: transparent;
}
input:placeholder-shown + label {
  color: #aaa;
  /* color: #0097e6; */
  font-size: 14pt;
  top: 15px;
}
input:focus + label,
label {
  color: #8aa1a1;
  /* color: #0097e6; */
  font-size: 10pt;
  /* pointer-events: none; */
  /* position: absolute;
  left: 0px;
  top: 0px; */
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}
.loginRegisterLabel,
input:focus + label {
  position: absolute;
  left: 0px;
  top: 0px;
}
input:focus,
input:not(:placeholder-shown) {
  border-bottom: solid 1px #8aa1a1;
  outline: none;
}

/* 버튼 -> 인풋으로 바뀔시 수정 */
.create_login {
  background: #91a7ff;
  color: #fff;

  border: none;
  border-radius: 5px;
  width: 100%;
  height: 35px;
  font-size: 14pt;
  margin-top: 30px;
}
.create_login:hover {
  background: #5c7cfa;
}

#create_id {
  text-align: center;

  margin: 10px 0px;
  margin-left: 20px;
  background: #91a7ff;
  color: #fff;

  border: none;
  border-radius: 5px;
  width: 20%;
  height: 35px;
  font-size: 12pt;
}
#create_id:hover {
  background: #5c7cfa;
}
#not_register {
  font-size: 12pt;
  color: rgb(164, 164, 164);
  margin-top: 50px;
}
.loginregister {
  position: relative;
  margin: 100px auto 0 auto;
  padding: 50px 26px;
  width: 480px;

  background: white;

  box-sizing: border-box;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  text-align: center;
}
